<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.AuthMapper">

<select id="getAuthListByUserId" resultType="authVO">
	SELECT * 
	FROM Auth 
	WHERE userId = #{userId}
</select>

<insert id="insertAuth">
	INSERT INTO Auth 
	VALUES (#{userId}, #{auth})
</insert>

<delete id="deleteAuthById">
	DELETE FROM Auth
	WHERE userId = #{userId}
	<if test="auth != null">
		AND auth = #{auth}
	</if>
</delete>

</mapper>