<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.BusinessPlanMapper">

	<insert id="insertBusinessPlan">
		INSERT INTO manage.BusinessPlanning 
		(oppId, projectName, userNum, endUser, customer, sort1, sort2, expectedSales, expectedPurchase, expectedProfit, expectedSalesMonth, state, note, regDate, customerName, customerPhone, customerEmail) 
		VALUES (#{oppId}, #{projectName}, #{userNum}, #{endUser}, #{customer}, #{sort1}, #{sort2}, #{expectedSales}, #{expectedPurchase}, #{expectedProfit}, #{expectedSalesMonth}, #{state}, #{note}, CURRENT_TIMESTAMP, #{customerName}, #{customerPhone}, #{customerEmail})
	</insert>
	
<!-- 	userNum이 null인 경우 목록을 모두 가져옴 -->
	<select id="getBusinessPlanByUserNum" resultType="businessPlanVO">
		SELECT * FROM manage.BusinessPlanning 
		<where>
			<if test="userNum != null and userNum != ''">
				userNum = #{userNum}
			</if>
		</where>
	</select>
	
	<select id="getLastData" resultType="businessPlanVO">
		SELECT * FROM manage.BusinessPlanning
		ORDER BY regDate DESC LIMIT 1
	</select>
	
	<select id="getBusinessPlanListCnt" resultType="businessPlanVO">
		SELECT COUNT(*) AS CNT
		FROM manage.BusinessPlanning
		WHERE userNum = #{userNum}
<!-- 		<if test="searchTxt != null and searchTxt != ''">
			<choose>
				<when test="searchGbn == 0">
					AND  LIKE '%' || #{searchTxt} || '%'
				</when>
				<when test="searchGbn == 1">
					AND  LIKE '%' || #{searchTxt} || '%'
				</when>
				<when test="searchGbn == 2">
					AND ( LIKE '%' || #{searchTxt} || '%'
			     		OR  LIKE '%' || #{searchTxt} || '%')
				</when>
			</choose>
		</if> -->
	</select>
	
	
<!-- 	department가 null이면 모든 부서 자료 열람, sort1이 null이면 모든 자료 열람 -->
	<select id="getBusinessPlanPeriod" resultType="businessPlanVO">
		SELECT * FROM 
		<choose>
		<when test="sort1 != null and department != null">
			(SELECT bp.* FROM BusinessPlanning bp INNER JOIN user ur ON bp.userNum = ur.userNum 
			WHERE ur.department = #{department} AND bp.sort1 = #{sort1}) fbp
		</when>
		<when test="sort1 == null and department != null">
			(SELECT bp.* FROM BusinessPlanning bp INNER JOIN user ur ON bp.userNum = ur.userNum 
			WHERE ur.department = #{department}) fbp
		</when>
		<when test="sort1 != null and department == null">
			(SELECT * FROM manage.BusinessPlanning WHERE sort1 = #{sort1}) fbp
		</when>
		<otherwise>
			manage.BusinessPlanning fbp
		</otherwise>
		</choose>
		WHERE fbp.expectedSalesMonth BETWEEN #{month1} AND #{month2};
	</select>
	
	<select id="businessPlanDtl" resultType="businessPlanVO">
		SELECT * FROM manage.BusinessPlanning
		WHERE oppId = #{oppId};
	</select>
	
	<select id="getYearBusinessPlan" resultType="string">
		SELECT DISTINCT DATE_FORMAT(expectedSalesMonth, '%Y') FROM BusinessPlanning 
		ORDER BY expectedSalesMonth DESC;
	</select>
	
	<select id="getLastExpectedYear" resultType="string">
		SELECT DATE_FORMAT(regDate, '%Y') FROM BusinessPlanning 
		WHERE DATE_FORMAT(expectedSalesMonth, '%Y') = #{year} ORDER BY regDate DESC LIMIT 1;
	</select>
	
	<select id="getLastExpectedMonth" resultType="string">
		SELECT DATE_FORMAT(regDate, '%m') FROM BusinessPlanning 
		WHERE DATE_FORMAT(expectedSalesMonth, '%Y') = #{year} ORDER BY regDate DESC LIMIT 1;
	</select>
	
</mapper>