<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.CostBenefitAnalysisMapper">

	<select id="getCBAnalysis" resultType="BusinessPlanVO">
		SELECT * FROM manage.BusinessPlanning 
		WHERE state = 4
	</select>
	
	<select id="CBAnalysisDtl" resultType="CostBenefitAnalysisVO">
		SELECT * FROM manage.BusinessPlanning
		WHERE oppId = #{oppId};	
	</select>
	
<!-- 	<update id="CBAnalysisRegi">
		UPDATE manage.CostBenefitAnalysis SET version=#{version}, projectName=#{projectName}, 
				endUser=#{endUser}, customer=#{customer}, contractDate=#{contractDate},
				expiredDate=#{expiredDate}, autoExtension=#{autoExtension},	profitSort=#{profitSort},
				expectedSales=#{expectedSales}, expectedPurchase=#{expectedPurchase},
				expectedProfit=#{expectedProfit}, exchangeRate=#{exchangeRate}
		WHERE oppId = #{oppId};
	</update> -->
	
	<insert id="CBAnalysisRegi">
		INSERT INTO manage.CostBenefitAnalysis
		(oppId, version, projectName, endUser, customer, contractDate, expiredDate, autoExtension, profitSort,
		 expectedSales, expectedPurchase, expectedProfit, exchangeRate)
		VALUES (#{oppId}, #{version}, #{projectName}, #{endUser}, #{customer}, #{contractDate}, #{expiredDate}, #{autoExtension},
				#{profitSort}, #{expectedSales}, #{expectedPurchase}, #{expectedProfit}, #{exchangeRate})	
	</insert>
</mapper>

